.cardContainer{
   
    .card{
      display: flex;
      flex-direction: column;
      position: relative;
      top: -25%;
      height: 500px;
      width: 1200px;
      border-radius: 10px;
      padding:50px;
      transform-origin: top;
    //  border: 1px solid rgba(0, 0, 0, 0.1);;

      h2{
        margin: 0px;
        font-size: 40px;
      }
      .body{
        height: 100%;
        margin-top: 50px;
        gap: 50px;
        .description{
          width: 40%;
          position: relative;
          top: 10%;
          p{
            font-size: 16px;
          }
        }
  
        .imageContainer{
          position: relative;
          width: 60%;
          height: 100%;
          border-radius: 25px;
          overflow: hidden;
          .inner{
            width: 100%;
            height: 100%;
          }
          img{
            object-fit: cover;
          }
        }
      }
    }
  }