.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}

.scroll-stack-inner {
  position: relative;
  width: 100%;
}

.scroll-stack-card {
  position: relative;
  width: 100%;
  will-change: transform;
  transform-origin: top center;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}

.scroll-stack-end {
  height: 100vh;
}


